<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app" class="container">
    <div v-if="pageName === 'createPage'" class="row">
      <div>
        <label for="reps-input">Reps</label>
        <select class="form-select" v-model="repTotal" id="reps-input" name="reps-input" aria-label="Default select example">
          <option selected>Select Reps</option>
          <option v-for="rep in workoutRange" :value="rep - 1">{{ rep - 1 }}</option>
        </select>
      </div>
      <div>
        <label for="rest-seconds-input">Rest</label>
        <select class="form-select" v-model="restSeconds" id="rest-seconds-input" name="rest-seconds-input" aria-label="Default select example" :disabled="disableRestTimeInput">
          <option selected>Select Rest Time Seconds</option>
          <option v-for="second in secondsRange" :value="second - 1">{{ second - 1 }}</option>
        </select>
        <select class="form-select" v-model="restMinutes" id="rest-minutes-input" name="rest-minutes-input" aria-label="Default select example" :disabled="disableRestTimeInput">
          <option selected>Select Rest Time Minutes</option>
          <option v-for="minute in minutesRange" :value="minute - 1">{{ minute - 1 }}</option>
        </select>
      </div>
      <div>
        <label for="sets-input">Sets</label>
        <select class="form-select" v-model="setTotal" id="sets-input" name="sets-input" aria-label="Default select example">
          <option selected>Select Sets</option>
          <option v-for="set in workoutRange" :value="set - 1">{{ set - 1 }}</option>
        </select>
      </div>
      <div>
        <label for="break-input">Break</label>
        <select class="form-select" v-model="breakSeconds" id="break-seconds-input" name="break-seconds-input" aria-label="Default select example" :disabled="disableBreakTimeInput">
          <option selected>Select Break Time Seconds</option>
          <option v-for="second in secondsRange" :value="second - 1">{{ second - 1 }}</option>
        </select>
        <select class="form-select" v-model="breakMinutes" id="break-minutes-input" name="break-minutes-input" aria-label="Default select example" :disabled="disableBreakTimeInput">
          <option selected>Select Break Time Minutes</option>
          <option v-for="minute in minutesRange" :value="minute - 1">{{ minute - 1 }}</option>
        </select>
      </div>
      <button @click="changePage('timerPage')" :disabled="disableGoButton">Go</button>
    </div>
    <div v-if="pageName === 'timerPage'" class="row">
      <div>Reps {{ repCount }} / {{ repTotal }}</div>
      <div>Sets {{ setCount }} / {{ setTotal }}</div>
      <div>{{ timerMessage }}</div>
      <div>{{ countdownString }}</div>
      <button v-if="this.timerMode !== 'COMPLETE'" @click="startTimer()">{{ startButtonMessage }}</button>
      <button @click="changePage('createPage')">Back</button>
      <div>{{ tobyMessage }}</div>
      <img class="d-block" :src="tobyImage" width="300px">
    </div>
  </div>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment-timer/lib/moment-timer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
</body>
</html>