<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Toby Time</title>
</head>
<body>
  <div id="app" class="container">
    <div v-if="pageName === 'createPage'">
      <div class="row mb-2">
        <div class="col-2">
          <label for="reps-input">Reps</label>
        </div>
        <div class="col-10">
          <select class="form-select" v-model="repTotal" id="reps-input" name="reps-input">
            <option selected disabled>Total Reps</option>
            <option v-for="rep in workoutRange" class="text-center" :value="rep - 1">{{ rep - 1 }}</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <label>Rest</label>
        </div>
        <div class="col-10 d-flex justify-content-between">
          <select class="form-select" v-model="restMinutes" id="rest-minutes-input" name="rest-minutes-input" :disabled="disableRestTimeInput">
            <option selected disabled>Rest Minutes</option>
            <option v-for="minute in minutesRange" class="text-center" :value="minute - 1">
              {{ timeSelectFormat(minute - 1) }}
            </option>
          </select>
          <strong class="text-center px-2">:</strong>
          <select class="form-select" v-model="restSeconds" id="rest-seconds-input" name="rest-seconds-input" :disabled="disableRestTimeInput">
            <option selected disabled>Rest Seconds</option>
            <option v-for="second in secondsRange" class="text-center" :value="second - 1">
              {{ timeSelectFormat(second - 1) }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <label for="sets-input">Sets</label>
        </div>
        <div class="col-10">
          <select class="form-select" v-model="setTotal" id="sets-input" name="sets-input">
            <option selected disabled>Total Sets</option>
            <option v-for="set in workoutRange" class="text-center" :value="set - 1">{{ set - 1 }}</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <label>Break</label>
        </div>
        <div class="col-10 d-flex justify-content-between">
          <select class="form-select" v-model="breakMinutes" id="break-minutes-input" name="break-minutes-input" :disabled="disableBreakTimeInput">
            <option selected disabled>Break Minutes</option>
            <option v-for="minute in minutesRange" class="text-center" :value="minute - 1">
              {{ timeSelectFormat(minute - 1) }}
            </option>
          </select>
          <strong class="text-center px-2">:</strong>
          <select class="form-select" v-model="breakSeconds" id="break-seconds-input" name="break-seconds-input" :disabled="disableBreakTimeInput">
            <option selected disabled>Break Seconds</option>
            <option v-for="second in secondsRange" class="text-center" :value="second - 1">
              {{ timeSelectFormat(second - 1) }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <button type="button" class="btn btn-success w-100" @click="changePage('timerPage')" :disabled="disableGoButton">Go</button>
        </div>
      </div>
    </div>
    <div v-if="pageName === 'timerPage'">
      <div class="row mb-2">
        <div class="col-12 text-center">
          Reps {{ repCount }} / {{ repTotal }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 text-center">
          Sets {{ setCount }} / {{ setTotal }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 display-1 text-center">
          {{ timerMessage }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 display-1 text-center">
          {{ countdownString }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <div class="btn-group w-100" role="group">
            <button v-if="(this.timerMode !== 'COMPLETE') && (this.timerMode === 'GO')" type="button" class="btn btn-primary" @click="startTimer()">{{ startButtonMessage }}</button>
            <button v-if="(this.timerMode !== 'COMPLETE') && (this.timerMode !== 'GO')" type="button" class="btn btn-primary" @click="pauseTimer()">{{ pauseButtonMessage }}</button>
            <button type="button" class="btn btn-secondary" @click="changePage('createPage')">Back</button>
          </div>
        </div>
      </div>
      <div>{{ tobyMessage }}</div>
      <img class="d-block" :src="tobyImage" width="300px">
    </div>
  </div>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment-timer/lib/moment-timer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
</body>
</html>