<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="page === 'create'">
      Create Workout
      <button @click="page = 'timer'">
        Go
      </button>
    </div>
    <div v-if="page === 'timer'">
      Timer Mode
      <button @click="page = 'create'">
        Cancel
      </button>
    </div>
  </div>
  <script src="/index.js"></script>
</body>
</html>